<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="../proAll">Productos</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Detalle</a></li>
                <!-- <a (click)="delete()"class="btn btn-danger light btn-md ml-auto"><i class="fa fa-trash scale5 mr-3"></i>Borrar</a> -->
                <button [swal]="
                {title: '<strong>Borrar producto <u></u></strong>', icon: 'error',
                html: 'Confirma que desea eliminar este producto ?',
                showCloseButton: true,
                showCancelButton: true,
                cancelButtonColor: '#101554',
                confirmButtonColor: '#ff3366',
                focusConfirm: true,
                confirmButtonText:' Borrar',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText: ' Cancelar',
                cancelButtonAriaLabel: 'Thumbs down'
                }"
                (confirm)="delete()"
                (dismiss)="cancelDelete()"
                 class="btn btn-danger light btn-md ml-auto " style="margin-right:10%;">
                <i class="feather icon-trash"></i>Borrar
                </button>
                <!-- <button 
                [swal]="
                {title: '<strong>Borrar categoria <u></u></strong>', icon: 'error',
                html: 'Confirma que desea eliminar esta categoria ?',
                showCloseButton: true,
                showCancelButton: true,
                cancelButtonColor: '#101554',
                confirmButtonColor: '#ff3366',
                focusConfirm: true,
                confirmButtonText:' Borrar',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText: ' Cancelar',
                cancelButtonAriaLabel: 'Thumbs down'
                }"
                (confirm)="delete()"
                (dismiss)="cancelDelete()"
                 class="btn btn-danger1 light btn-md ml-auto btedit" style="margin-right:10%;">
                <i class="feather icon-trash"></i>editar
                </button> -->
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-xxl-5 client-presentation">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show " [class.active]="i == 0" id="{{i}}" *ngFor="let image of yeoman.preview.images;let i =index;">
                                        <img class="img-fluid" src="assets/gymove/images/product/1.jpg" alt="" *ngIf="yeoman.preview.images[0]===undefined">
                                        <img class="img-fluid" src="{{image}}" alt="" *ngIf="image!==undefined">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 product-detail-content">
                                <!-- Product details -->
                                <h2>Detalles del producto</h2> 
                                <div class="new-arrival-content pr">
                                    <strong>Producto: </strong>
                                    <h4 class="client-name"> {{yeoman.preview.name}}</h4>
                                </div>
                                <div class="new-arrival-content pr">
                                    <strong>Tamaño:</strong>
                                    <h4 class="client-name"> {{yeoman.preview.size}}</h4>
                                    <strong>Descripción:</strong>
                                    <h4 class="client-name"> {{yeoman.preview.description}}</h4>
                                </div>
                                <!-- <div class="new-arrival-content pr">
                                    <h4 class="client-industry">Servicio: {{category}}</h4>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- review -->
          
        </div>
    </div>
</div>