<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="../servAll">Servicios</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Detalle</a></li>
                <!-- <a (click)="delete()"class="btn btn-danger light btn-md ml-auto"><i class="fa fa-trash scale5 mr-3"></i>Borrar</a> -->
                <button [swal]="
                {title: '<strong>Borrar servicio <u></u></strong>', icon: 'error',
                html: 'Confirma que desea eliminar este servicio ?',
                showCloseButton: true,
                showCancelButton: true,
                cancelButtonColor: '#101554',
                confirmButtonColor: '#ff3366',
                focusConfirm: true,
                confirmButtonText:' Borrar',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText: ' Cancelar',
                cancelButtonAriaLabel: 'Thumbs down'
                }"
                (confirm)="delete()"
                (dismiss)="cancelDelete()"
                 class="btn btn-outline-danger light  ml-auto btn-xs" style="margin-right:10%;">
                <i class="feather icon-trash"></i> Borrar
                </button>
                <!-- <button 
                [swal]="
                {title: '<strong>Borrar categoria <u></u></strong>', icon: 'error',
                html: 'Confirma que desea eliminar esta categoria ?',
                showCloseButton: true,
                showCancelButton: true,
                cancelButtonColor: '#101554',
                confirmButtonColor: '#ff3366',
                focusConfirm: true,
                confirmButtonText:' Borrar',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText: ' Cancelar',
                cancelButtonAriaLabel: 'Thumbs down'
                }"
                (confirm)="delete()"
                (dismiss)="cancelDelete()"
                 class="btn btn-danger1 light btn-md ml-auto btedit" style="margin-right:10%;">
                <i class="feather icon-trash"></i>editar
                </button> -->
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                     <div role="tabpanel" class="tab-pane fade show " [class.active]="i == 0" id="{{i}}" *ngFor="let image of yeoman.preview.images;let i =index;">
                                        <img class="img-fluid" src="assets/gymove/images/product/1.jpg" alt="" *ngIf="yeoman.preview.images[0]===undefined">
                                        <img class="img-fluid" src="{{image}}" alt="" *ngIf="image!==undefined">
                                    </div> 
                                </div>
                            </div>
                            <!--Tab slider End-->
                            <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr">
                                        <h2>{{yeoman.preview.name}}</h2>
                                    </div>
                                    <div class="new-arrival-content pr">
                                        <h3>{{yeoman.preview.subname}}</h3>
                                    </div>
                                    <div class="new-arrival-content pr">
                                        <p>{{yeoman.preview.description1}}</p>
                                    </div>
                                    <div class="new-arrival-content pr">
                                        <p>{{yeoman.preview.description2}}</p>
                                    </div>
                                    <div class="new-arrival-content pr">
                                        <p>{{yeoman.preview.description3}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- review -->
            
        </div>
    </div>
</div>